@font-face {
    font-family: 'bodoni-bold';
    src: url('../fonts/BodoniFLF-Bold.ttf');
}

@font-face {
    font-family: 'toma-sans';
    src: url('../fonts/TomaSans-Regular.ttf');
}

@font-face {
    font-family: 'bebas';
    src: url('../fonts/BEBAS.TTF');
}

@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica.ttf');
}

body {
    background: url('world-map-grey.gif');
}
/*
#root {
    background-image: url("christmas-lights3.png");
    background-repeat: no-repeat;
}*/

#prompt {
    color: black;
    text-align: center;
    margin: 150px auto 65px auto;
    font-family: 'helvetica';
    color: #555;
    text-decoration: none;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: 1;
    /*text-shadow: 0px 0px 20px grey;*/
    position: relative;
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
}

#topicSpan {
    color: red;
    font-weight: 600;
    font-weight: bold;
    font-color: red;
    display: inline;
}

#inputText {
    margin: 0px auto 15px auto;
    width: 50%;
    /*background-color: #eaeaea;*/
    background: transparent;
    font-size: 50px;
    font-family: 'bodoni-bold';
    color: #7c7c7c;
    height: 70px;

}

#form {
    display: block;
}

#btnAnalyze {
    background-color: #c96060;
    padding: 5px 15px 5px;
    /*box-shadow: 0px 0px 10px black;*/
    color: white;
    font-family: 'bebas';
    font-weight: bold;
    font-size: 30px;
}

/*#btnAnalyze:active {
    box-shadow: none;
    transform: translate(0, 2px);
    outline: 0;
}*/

#btnAnalyze:focus {
    outline:0;
}

/*#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #898b8e;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}*/